body {
  padding: 60px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightpink;
}

a {
  color: purple;
  text-decoration: none;
  font-size: 1.5em;
}
 




button{
color: purple;
background-color: sandybrown;
}
