<div id="formSignUP"
<h2>SIGNUP</h2>

<form action="/SignUPage" method="POST">


<label> email
      <input type="email" name="email" placeholder="email" />

</label>

<label> Password
      <input type="password" name="password" placeholder="********" />
</label>

<button type="submit">Create account</button>

{{!-- place for error message--}}



</form>